 /* .navbar{
    position: fixed;
    top:0;
    width:100%;
    z-index:1;
    
}
.header {
    background-color:#00042e!important;
} */

.navbar{
    position: fixed;
    top:0;
    width:100%;
    z-index:1;
    height: 80px;
}
.header {
    background-image: repeating-linear-gradient(45deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(0deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(135deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, rgb(17, 17, 17),rgb(66, 66, 66));
    /* background-color:#171717!important; */
    opacity: 0.9;
}
#icon{
    color: white;
    margin-top: -5px;
    font-size:18px;
    margin-left: 670px;
}
span{
padding: 10px;
cursor: pointer;
}
.navbar-brand{

    margin: 0px 15px;
    font-size: 2rem;
}
img{
    margin: 0px 10px;
    height: 50px;
    transform-style: preserve-3d;
    animation: rotate 5s infinite linear;
}
@keyframes rotate {
    from { transform: rotateY(0); }
    to { transform: rotateY(360deg); }
  }
