
#icon{
    color: white;
    margin-top: -5px;
    font-size:26px;
    margin-left: 10px;
}
.logoutIcon{
    margin-right: 20px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    color: brown;
}

.header {
    background-image: repeating-linear-gradient(45deg, hsla(207, 0%, 63%, 0.05) 0px, hsla(207, 0%, 63%, 0.05) 1px, transparent 1px, transparent 11px, hsla(207, 0%, 63%, 0.05) 11px, hsla(207, 0%, 63%, 0.05) 12px, transparent 12px, transparent 32px),
        repeating-linear-gradient(0deg, hsla(207, 0%, 63%, 0.05) 0px, hsla(207, 0%, 63%, 0.05) 1px, transparent 1px, transparent 11px, hsla(207, 0%, 63%, 0.05) 11px, hsla(207, 0%, 63%, 0.05) 12px, transparent 12px, transparent 32px),
        repeating-linear-gradient(135deg, hsla(207, 0%, 63%, 0.05) 0px, hsla(207, 0%, 63%, 0.05) 1px, transparent 1px, transparent 11px, hsla(207, 0%, 63%, 0.05) 11px, hsla(207, 0%, 63%, 0.05) 12px, transparent 12px, transparent 32px),
        repeating-linear-gradient(90deg, hsla(207, 0%, 63%, 0.05) 0px, hsla(207, 0%, 63%, 0.05) 1px, transparent 1px, transparent 11px, hsla(207, 0%, 63%, 0.05) 11px, hsla(207, 0%, 63%, 0.05) 12px, transparent 12px, transparent 32px),
        linear-gradient(90deg, rgb(17, 17, 17), rgb(66, 66, 66));
    opacity: 0.9;
    height: 80px;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    margin: 0 15px;
    margin-left: -67px;
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

img {
    margin: 0 10px;
    height: 50px;
    transform-style: preserve-3d;
    animation: rotate 5s infinite linear;
    margin-left: -20px;
}

mat-menu{
    margin-right: 0px;
}

@keyframes rotate {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}


@media only screen and (max-width: 768px) {
    .navbar-brand {
        margin: 0 15px;
        margin-left: -15px;
        font-size: 2rem;
    }    
}