<!-- <div class="example-button-container">
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="deleteProject()">
    <mat-icon>delete</mat-icon>
  </button>
</div>

  <div cdkDropListGroup>
    <div *ngFor="let columnName of getColumnNames()" class="example-container">
      <h2>{{columnName}}</h2>
      <div cdkDropList [cdkDropListData]="getColumnTasks(columnName)"  class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let task of getColumnTasks(columnName)" cdkDrag (cdkDragStarted)="onDragStart(task)">
            
          <button type="button" (click)="delete( columnName,task)">delete task</button>
  
        </div>
        </div>
    </div>
  </div> -->

          <!-- Card html to be written here -->
            <!-- {{task.name}}
            {{task.priority}} -->




            <!-- Card html ends -->

            <!-- 
<div
cdkDropList
[cdkDropListData]="basket"
class="example-list"
(cdkDropListDropped)="drop($event)">
<div class="example-box" *ngFor="let item of basket" cdkDrag>{{item}}</div>
</div> -->

<div class="parent">
  <mat-drawer-container class="example-container-nav">
    <mat-drawer mode="side" opened id="side-nav">
      <button mat-raised-button (click)="projectWindow()" class="btn">Create Project</button>
      <button mat-raised-button (click)="taskWindow()" class="btn">Add Task</button>
    </mat-drawer>
    <mat-drawer-content>

      <div cdkDropListGroup>
        <div *ngFor="let columnName of getColumnNames()" class="example-container">
          <h2>{{columnName}}</h2>
          <div cdkDropList [cdkDropListData]="getColumnTasks(columnName)"  class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let task of getColumnTasks(columnName)" cdkDrag (cdkDragStarted)="onDragStart(task)">

              <mat-card  (mouseover)="unhide(task)">
                <mat-card-header class="container">
                  <mat-card-title>{{task.name}}</mat-card-title>
                  <small id="createdate" matTooltip="Create date">{{task.createDate}}</small>
                  <mat-card-subtitle>{{task.content}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions class="change">
                  <span>
                    <span mat-icon-button id="priority" matTooltip="Priority : {{task.priority}}">
                      <mat-icon *ngIf="task.priority=='Urgent'" style="color: red;">flag</mat-icon>
                      <mat-icon *ngIf="task.priority=='High'" style="color: rgb(217, 217, 77);">flag</mat-icon>
                      <mat-icon *ngIf="task.priority=='Low'" style="color: rgb(168, 169, 168);">flag</mat-icon>
                      <mat-icon *ngIf="task.priority=='Normal'" style="color: rgb(84, 165, 211);">flag</mat-icon>
                      <mat-icon *ngIf="task.priority=='Clear' || task.priority==''">flag</mat-icon>
                    </span>
                  </span>
                  <span matTooltip="Due date : {{task.deadline}} ">
                    <mat-icon id="cal">calendar_today</mat-icon>
                    <small id="deadline">{{load(task.deadline)}}</small>
                  </span>
                  <span matTooltip="Assigned by {{task.assignee}}">
                    <mat-icon id="iconA">brightness_1</mat-icon>
                    <small id="assigne">{{loadA(task.assignee)}}</small>
                  </span>

                  <mat-icon id="delete" matTooltip="Delete Task" (click)="delete(columnName,task)">delete</mat-icon>
<!--  -->
<!--  -->
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
      </div>

    </mat-drawer-content>
  </mat-drawer-container>
</div>