<div class="example-button-container">
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="deleteProject()">
    <mat-icon>delete</mat-icon>
  </button>
</div>

  <div cdkDropListGroup>
    <div *ngFor="let columnName of getColumnNames()" class="example-container">
      <h2>{{columnName}}</h2>
      <div cdkDropList [cdkDropListData]="getColumnTasks(columnName)"  class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let task of getColumnTasks(columnName)" cdkDrag (mouseover)="onDrag(task)">
            
            <!-- Card html to be written here -->
            {{task.name}}
        
        </div>
        </div>
    </div>
  </div>

