<div class="cont">  
    <div>
    <img id="header" src="../../assets/WorkFloLogo1-removebg-preview.png" alt="/assets/Kanban-icon.png">
        <span id="txt1">Streamline your workflow with WorkFlo</span>
        <ul>
            <li id="txt2">
             Hitech search algorithm
            </li>
            <li id="txt3">
                Smooth ui/ux
            </li>
            <li id="txt4">
                Flexible and customisable kanban board
            </li>
            <li id="txt5">
                Visualise and organise your work efficiently with WorkFlo
            </li>
            <li id="txt6">
                Collaborate with others and keep track of tasks
            </li>
            <li id="txt7">
                Keep track of your tasks efficiently
            </li>
        </ul>
    </div>
    <img id="bg" src="../../assets/wave2.png">
    </div>