
<div class="header">
    <img id="kanbanLogo" src="../../assets/Klogo-removebg-preview.png">
    <div class="header-right">
      <a class="active" routerLink="/register">Sign Up</a>
      <a routerLink="/login"> Login</a>
      <!-- <a href="#about">About</a> -->
    </div>
  </div>
<div class="dashboard">
    <div class="content">
        <p id="head">What is Kanban ?</p>
        <p class="defn">
            Kanban is a framework that was first developed in the 1940s in Japan by Taiichi Ohno. The sole purpose of this system was to ensure ‘Just-in-time’ manufacturing practices, which allowed to minimize both the wait times and the amount of ready inventory to be stored by the company.
        </p>
         <p class="feature">1. Start with what you do know</p> 
         <p class="feature">2. Agree to pursue incremental, evolutionary change</p>
         <p class="feature">3. Respect the current process, roles, responsibilities, titles</p>
         <p class="feature">4. Encourage acts of leadership at all levels in your organization</p>
         <p class="feature">5. Improve collaboratively, evolve experimentally</p>
   </div>
    <img id="kanban" src="../../assets/KanbanN-removebg-preview.png">
    <img id='desgn' src="../../assets/design-removebg-preview.png">
</div>