.userInformation{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 30px;
    width: 50vw;
  }
  .userInformation mat-card-title{
    font-family: Libre Baskerville;
    font-size: 24px;
  }
  
  span{
    font-family: Bruno Ace;
    color: #d94621;
    font-weight: bold;
    font-size: xx-large;
  }
  
  .userInformation mat-card{
    margin-top: 2px;
  }
  .userInformationHeader{
    margin-top: 0px;
    margin-bottom:0px;
    padding: 0px;
  }
  
  
  .loginPanel{
      width: 40vw;
      max-width: 40vw;
      /* margin-left: 10%;
      margin-top: 2%;
      margin-bottom: 5%; */
      margin:auto;
      margin-top: 60px;
  }
  .example-card {
      max-width: 80%;
      margin-bottom: 8px;
      display: flex;
      margin:auto;
      margin-top: 20px;
    }
  
  
    .example-form {
      min-width: 150px;
      max-width: 300px;
      width: 80%;
    }
    
    form{
      display: flex;
      flex-direction: column;
    }
  
    button{
      margin-top: 12px;
    }
  
    .logout-Button{
      display:inline-block;
      width: 70%;
      margin-left: 15%;
    }
  
    .loginFormErrors{
      color: #d94621;
    }