

mat-card{
    width: 40vw;
    max-width: 40vw;
    margin-right: 0px;
    position:relative;
    height: fit-content;
    background-color: #e2def0;
    background-image: linear-gradient(135deg, #815de5 25%, transparent 25%);
  }


h2{
  margin-top: 14px;
  margin-bottom: 0px;
  margin-right: 23vw;
}
  
 mat-form-field{
  display: inline;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
 }

  button{
    margin-top: 12px;
  }

  /* .chip{
    margin-top: 5px;
    margin-left: 10px;
    display: inline-block;
    width: 38vw;
    margin-left: 0px;
  
  }

  .chipsFormed{
    float: left;
  }

  .mat-mdc-chip-set {
    max-width: 150px;
  } */
  .button-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .button-option {
    min-width: 0px;

    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  
  .dynamicButton {
    display: flex;
    flex-direction: row;
  }

  .btn{
    display: inline-block;
    width: 30vw;
    margin-left: 5vw;
    margin-bottom: 10px;
  }


  .cntr{
    text-align: center;
    padding-top: 0px;
  }

  @media only screen and (max-width: 768px) {
    .pageView{
 
      flex-direction: column;
    }
    mat-card{
      width: 80vw;
      max-width: 80vw;
      margin-top: -50px;
    }
    mat-dialog-actions{
      margin:auto;
      width: 79%;
      margin-top: -21px;
      transform: scale(0.8);
    }

    .btn{

        margin:auto;
        height: 50px;
    }

    .button-row{
        width: 112vw;
        display: flex;
        flex-direction: row;
        margin-top: -10px;
        margin-right: 0px;
        margin-left: -73px;  
        transform: scale(0.7);
    }
    .close-Button{
      background-color: transparent!important;
      margin-right: -15%;  
    }
   
  .projectNameCSS{
      /* margin-top: -25px; */
      transform: scale(0.8);
    /* height: 50px; */
  }
  .membersCSS{
    margin-top: -17px;
    margin-bottom: 8px;
    transform: scale(0.8);
  }


  .cntr{
    margin-top: -37px;
    transform: scale(0.8);
  }

  .btn{
    width: 150px;
    transform: scale(0.8);
  }

}

  .dynamicButton button{
    z-index: 0;
  }

  .closeButton-Member-Columns {
    border: 2px solid #f14e11;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 2px;
    height: 25px;
    border-radius: 50%;
    width: 25px;
    background-color: #815de5;
    margin-left: -18px;
    z-index: 1;
  }
  
  .closeButton-Member-Columns mat-icon {
    height: 19px;
    font-size: 20px;
    background-color: #815de5;
  }

  .membersCSS{
    margin-bottom: -27px;
  }


  /* -------------- */
  h2{
    text-align: center;
    margin-right: 0px;
    margin-left:-33%;
    margin-top: 10px;
}

mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -10px;
    margin-bottom: 8px;
    
}

.close-Button{
  margin-right: -32%;  
}

.icn{
  background-color: rgb(180, 224, 243);
  margin-bottom: 1px;
  color: black;
}

.projectNameCSS{
  margin-top: -20px;
}
.custom-icon {
  background-color: transparent!important;
  margin-bottom: 7px;
}
