<div class="container">
  <!-- <mat-card class="firstCard">
    <mat-card-content>
      <h2>List of Projects</h2>
    </mat-card-content>
    <div class="projectList" *ngFor="let project of projectList">
      <button class="projectButton" mat-raised-button color="accent" type="button" (click)="boardView(project)" >{{project}}</button>
    </div>
  </mat-card> -->

  <mat-dialog-actions id="clr">
    <button mat-button mat-dialog-close  id="close" matTooltip="Close">
    <mat-icon>clear</mat-icon>
  </button>
  </mat-dialog-actions>

  <!-- <mat-card> -->
    <!-- <mat-card-header> -->
    <h2 class="cntr">Create Project</h2>
    <!-- </mat-card-header>
    <mat-card-content> -->
      <form [formGroup]="projectForm">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="name?.hasError('required')">
                Project Name is required
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Members" formControlName="memberName">
        </mat-form-field>
        <div class="cntr">
        <button mat-raised-button color="primary" type="button" (click)="addMember()">Add Member</button>
      </div>
        <!-- <ul>
          <li *ngFor="let member of projectForm.get('members').value">{{member}}</li>
        </ul> -->
        <div class="chip">
          <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
            <mat-chip-option selected [color]="secondary" *ngFor="let member of projectForm.get('members').value">
              {{member}}
            </mat-chip-option>
          </mat-chip-listbox>
        </div>
        <br>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Columns" formControlName="columnName">
          </mat-form-field>
          <div class="cntr">
          <button mat-raised-button color="primary" type="button" (click)="addColumn()">Add Column</button>
        </div>
          <!-- <ul>
            <li *ngFor="let column of projectForm.get('columns').value">{{column}}</li>
          </ul> -->
          <div class="chip">
            <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
              <mat-chip-option selected [color]="primary" *ngFor="let column of projectForm.get('columns').value">
                {{column}} 
                <!-- <i class="fa fa-close"></i> -->
              </mat-chip-option>
            </mat-chip-listbox>
          </div>
        <button class="btn" mat-raised-button color="primary" type="button" [disabled]="projectForm.invalid" (click)="addProject()">Create Project</button>
    </form>
    <!-- </mat-card-content>
  </mat-card> -->
</div>