.container{margin: auto;
  width:33vw;
  height: 50vw;
  /* background-image: linear-gradient(to right bottom, #f5ebf0, #f4edf2, #f2ebee, #f4edf1, #f0ecee, #f3f4f7, #e9edf0, #f0f4f8, #c3d6fa, #9fcef4, #4899f5, #1269f5); */
  background-color: #e2def0;
  background-image: linear-gradient(135deg, #815de5 25%, transparent 25%);}
  .cntr{
    text-align: center;
  }
  h2{
    margin-left:40px;
    padding-top: 10px;
  }
  #close{
    align-content: center;
  }
  /* .pageView{
    display: flex;
    flex-direction: row; */
    /* background-image: url(../../assets/17973908.jpg); */
  
  /* .projectList{
    height: 50px;
  }
  .projectList mat-card-content{
    display: flex;
    justify-content: center;
  } */
  #clr{
    float: right;
  }
  mat-form-field , .btn {
    width: 30vw;
  }
  .projectList{
    /* display: flex;
    flex-direction: column;
    height: 20px; */
    width: 40vw;
  }
  
  /* .projectButton{
    margin-left: 10%;
    width: 80%;
    z-index: 0;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .pageView mat-card:nth-child(2) {
    height: 70%;
  } */
  
  mat-card{
      width: 40vw;
      max-width: 40vw;
      margin:auto;
      margin-top: 5%;
      position:relative;
      margin-bottom: 6%;
  }
  .example-card {
      max-width: 80%;
      margin-bottom: 8px;
      display: flex;
      margin:auto;
      margin-top: 20px;
    }
  
  
    .example-form {
      /* min-width: 150px;
      max-width: 300px;
      width: 80%; */
      padding: 10px 30px;
      text-align: center;
      width: 400px;
  }
    
    
    form{
      /* display: flex;
      flex-direction: column; */
    }
  
    button{
      margin-top: 12px;
    }
  
    .logout-Button{
      display:inline-block;
      width: 70%;
      margin-left: 15%;
    }
  
    .loginFormErrors{
      color: #d94621;
    }
  
    .chip{
      margin-top: 10px;
      margin-left: 10px;
    }
  
  
    .mat-mdc-chip-set {
      max-width: 150px;
    }
  
    /* i{
  
     margin-left:100px;
    } */
  
    @media only screen and (max-width: 768px) {
      .pageView{
   
        flex-direction: column;
      }
      mat-card{
        width: 80%;
        max-width: 80vw;
        margin-top: 20%;
      }
      .projectButton{
        display: inline-block;
        width: 150%;
        margin-bottom: 10px;
        margin-left: 20%;
      }
    }