.cntr{
  text-align: center;
  padding-top: 0px;
}

#close{
  align-content: center;
}

#clr{
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin-top: -10px;
  width: 39vw;
}

mat-card{
    width: 40vw;
    max-width: 40vw;
    margin-right: 0px;
    position:relative;
    height: fit-content;
    background-color: #e2def0;
    background-image: linear-gradient(135deg, #815de5 25%, transparent 25%);

  }


h2{
  margin-top: 14px;
  margin-bottom: 0px;
  margin-right: 23vw;
}
icon{
/* margin-left: 26px; */
}
  
 mat-form-field{
  display: inline;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
 }

  button{
    margin-top: 12px;
  }

  /* .chip{
    margin-top: 5px;
    margin-left: 10px;
    display: inline-block;
    width: 38vw;
    margin-left: 0px;
  
  }

  .chipsFormed{
    float: left;
  }

  .mat-mdc-chip-set {
    max-width: 150px;
  } */
  .button-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .button-option {
    min-width: 0;
    margin-left: 10px;
  }
  

  .btn{
    display: inline-block;
    width: 30vw;
    margin-left: 5vw;
    margin-bottom: 10px;
  }




  @media only screen and (max-width: 768px) {
    .pageView{
 
      flex-direction: column;
    }
    mat-card{
      width: 100vw;
      max-width: 100vw;
    }
  
    clr{
      display: flex;
      flex-direction: row;
    }

    h2{
      margin-right: 0px

    }
    .btn{
        margin-left: 20vw;
        height: 50px;
    }
    icon{
      margin-right: 0px;
      }
    
    mat-dialog-actions{
      display: flex;
      flex-direction: row;
      width: 45vw;
    }
  }