<mat-card class="container">
  <mat-dialog-actions id="clr">
    <h2 class="cntr">Create Project</h2>
    <button mat-button mat-dialog-close  id="close" matTooltip="Close">
    <mat-icon>clear</mat-icon>
  </button>
  </mat-dialog-actions>
 
      <form [formGroup]="projectForm">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="name?.hasError('required')">
                Project Name is required
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Members" formControlName="memberName">
        </mat-form-field>
        <div class="cntr">
        <button mat-raised-button color="primary" type="button" (click)="addMember()">Add Member</button>
        </div>

        <div class="button-row">
          <button mat-raised-button class="button-option mat-warn" *ngFor="let member of projectForm.get('members').value">
            {{member}}
          </button>
        </div>
        
        <mat-form-field appearance="outline">
            <input matInput placeholder="Columns" formControlName="columnName">
          </mat-form-field>
          <div class="cntr">
          <button mat-raised-button color="primary" type="button" (click)="addColumn()">Add Column</button>
        </div>

          <div class="button-row">
            <button color="warn" mat-raised-button class=" button-option mat-primary" *ngFor="let column of projectForm.get('columns').value">
              {{column}}
            </button>
          </div>
          
          
    </form>
    <button class="btn" mat-dialog-close mat-raised-button color="primary" type="button" [disabled]="projectForm.invalid" (click)="addProject()">Create Project</button>

</mat-card>