mat-card{
    width: 70vw;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.example-card {
    max-width: 80%;
    margin-bottom: 8px;
    display: flex;
    margin:auto;
    margin-top: 20px;
  }


  .example-form {
    min-width: 150px;
    max-width: 300px;
    width: 80%;
  }
  
  form{
    display: flex;
    flex-direction: column;
  }

  .errorCSS{
    color:rgb(255, 64, 0); 
    font-size: 10px;
  }